<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FizzBuzz</title>
</head>
<body>
    <h1>Welcome to FizzBuzz</h1>
    {% for i in range(0, 101)%}
    {% if i % 3 == 0 and i % 5 == 0%}
    <ul>
        <li>{{ i }} FizzBuzz</li>
    </ul>
    {% elif i % 3 == 0 %}
    <ul>
        <li>{{ i }} Fizz</li>
    </ul>
    {% elif i % 5 == 0 %}
    <ul>
        <li>{{ i }} Buzz</li>
    </ul>
    {% else %}
    <ul>
        <li>{{ i }}</li>
    </ul>
    {% endif %}
    {% endfor %}
</body>
</html>